
main {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, select {
    margin-bottom: 10px;
}